<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis07_JNDI:war exploded">
    <output-path>$PROJECT_DIR$/MyBatis07_JNDI/target/MyBatis07_JNDI</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>MyBatis07_JNDI</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis07_JNDI" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.5" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.6" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.12" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/MyBatis07_JNDI/target/MyBatis07_JNDI/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="MyBatis07_JNDI/web/Web" />
    </root>
  </artifact>
</component>