<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_10accountProxy:war exploded">
    <output-path>$PROJECT_DIR$/Spring_10accountProxy/target/Spring_10accountProxy</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>Spring_10accountProxy</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_10accountProxy" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: cglib:cglib:2.1_3" />
          <element id="library" level="project" name="Maven: asm:asm:1.5.3" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/Spring_10accountProxy/target/Spring_10accountProxy/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring_10accountProxy/web/Web" />
    </root>
  </artifact>
</component>