<component name="ArtifactManager">
  <artifact type="war" name="Spring_06account_xmlioc:war">
    <output-path>$PROJECT_DIR$/Spring_06account_xmlioc/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_06account_xmlioc</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Spring_06account_xmlioc.war">
      <element id="artifact" artifact-name="Spring_06account_xmlioc:war exploded" />
    </root>
  </artifact>
</component>