<component name="ArtifactManager">
  <artifact type="war" name="Spring_04DI:war">
    <output-path>$PROJECT_DIR$/Spring_04DI/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_04DI</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Spring_04DI.war">
      <element id="artifact" artifact-name="Spring_04DI:war exploded" />
    </root>
  </artifact>
</component>