<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
成功！
<!--th:text  将div里面的文本内容设置为-->
<div id="div01" class="myDiv" th:id="${hello}" th:class="${hello}" th:text="${hello}">
    这是显示欢迎信息
</div>

<!--
th:each每次遍历都会生成当前这个标签：  3个h4-->

<h4 th:text="${user}" th:each="user:${users}"></h4>
<hr/>
<h4>
    <span th:each="user:${uers}">
        [[${user}]]<!-- [[]]:th:text内容   [()]:同理但是不会转义特殊字符-->
    </span>
</h4>


</body>
</html>